# PostgreSQL Database Configuration
DB_NAME=apimovil_db
DB_USER=postgres
DB_PASSWORD=tu_password_seguro
DB_HOST=localhost
DB_PORT=5432

# Django Secret Key
SECRET_KEY=django-insecure-5g@zimt&5l^(xqwv$q%7-_zk%p+j46whmejj$yra-+i5sy-2##

# Debug Mode (False para producción)
DEBUG=False

# Redis Configuration (para Celery)
REDIS_HOST=localhost
REDIS_PORT=6379
